<!-- main app container -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" onClick="">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="navbar-brand"
            [routerLink]="['/']">Angular StarterKit</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a
            [routerLink]="['/home']">Home</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="(isAuthenticated | async)">
          <a [routerLink]="['/izenda']">Izenda</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="(isAuthenticated | async)">
          <a [routerLink]="['/izenda/settings']">Settings</a></li>


        <li class="dropdown" [routerLinkActive]="['active']" *ngIf="(isAuthenticated | async)">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Reports
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/izenda/reportdesigner']">New Report</a>
            </li>
            <li class="dropdown-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/izenda/report']"> Report List</a>
            </li>
            <li class="dropdown-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/izenda/reportviewer']">Report Viewer</a>
            </li>
            <li class="dropdown-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/izenda/reportcustomfilter']">Customized Report Filters Viewer</a>
            </li>
            <li class="dropdown-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/izenda/reportpart']">Report Parts</a>
            </li>
            <li class="dropdown-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/izenda/advancedreportpart']">Advanced Report Parts</a>
            </li>
          </ul>
        </li>

        <li class="dropdown" [routerLinkActive]="['active']" *ngIf="(isAuthenticated | async)">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Dashboards
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">

            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/izenda/dashboarddesigner']">New Dashboard</a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/izenda/dashboard']">Dashboard List</a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink]="['/izenda/dashboardviewer']">Dashboard Viewer</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="(isAuthenticated | async)"><a> Hello {{currentUser | async}} </a></li>
        <li *ngIf="(isAuthenticated | async)"><a href="javascript:void(0)" (click)="logout()">Log off</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="!(isAuthenticated | async)">
          <a [routerLink]="['/login']">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
