<app-navbar></app-navbar>
<div class="loader" id="reportPartLoader"> </div>
<h3>Report Part - Update Result Sample</h3>
<h4>This is an example of how integrated instances could use different filter controls to pass in filter values to report parts</h4>
<div class="row" style="margin-top:10px">
    <div class="col-md-12">
        <input #pvalueBox class="pvalue-control" id="p1value" type="text" /><!--ex: Country = Austria-->
        <span style="margin-left: 10px"></span>
        <button class="btn btn-primary" id="update-report-part-result" (click)="updateResultReportPart(pvalueBox.value)">Update Result</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12 report-part-container" id="update-result">
    </div>
</div>

<div class="container-fluid">
    <h3>Report Parts - Update Alone Sample</h3>
    <h4>This is an example of how report parts can be changed within the same container</h4>
    <ul class="nav nav-tabs">
        <li id="part1" [class.active]="1 == selectedPart"><a href="javascript:void(0)" (click)="displayPart(1)">Part #1</a></li>
        <li id="part2" [class.active]="2 == selectedPart"><a href="javascript:void(0)" (click)="displayPart(2)">Part #2</a></li>
        <li id="part3" [class.active]="3 == selectedPart"><a href="javascript:void(0)" (click)="displayPart(3)">Part #3</a></li>
    </ul>
    <br>
    <div class="report-part-container" id="update-alone"></div>
</div>
