<app-navbar></app-navbar>
<div class="izenda-container"> 
    <div class="quarter-screen" id="izenda-report-part1"> </div>
    <div class="quarter-screen" id="izenda-report-part2"> </div>
    <div class="half-screen" id="izenda-report-part3"> </div>
</div>