<app-navbar></app-navbar>
<div class="container-fluid body-content">
  <router-outlet></router-outlet>
</div>
<footer>
  <p style="margin: 10px 0 0 10px;">&copy; 2018 - Izenda BI Platform - Integrated Angular UI</p>
</footer>